<footer class="footer">
    <!--div class="social--footer">
	    <a class="social__icon social__icon--gplus" href="https://plus.google.com/110517332830228198316/about">Google+</a>
	    <a class="social__icon social__icon--twitter" href="https://twitter.com/ejflute3">Twitter</a>
	    <a class="social__icon social__icon--youtube" href="https://www.youtube.com/user/ejflute3">YouTube</a>
	    <a class="social__icon social__icon--rss" href="{{@blog.url}}/rss/">RSS</a>
	</div-->

    <div class="footer__copyrights">
         <p class="footer__text footer__copyright-text">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved. Designed by <a href="http://www.gavick.com">GavickPro</a></p>
    </div>
</footer>
